body {
  margin: 0;
  font-family: 'Roboto' sans-serif;
  color: #2e2f42;
  background-color: #fff;
}
.container {
  width: 1158px;
  margin: 0 auto;
}
 .design {
  font-family: Raleway;
font-weight: 800;
font-size: 21px;
 letter-spacing: 3%
text-decoration: none;
 }

 .hurko {
  text-decoration: none;
  font-family: Raleway;
font-weight: 700;
font-style: Bold;
font-size: 18px;
leading-trim: NONE;
line-height: 24px;
letter-spacing: 3%;
vertical-align: middle;
text-transform: uppercase;
color:#F4F4FD ;
 }
 ul {
  list-style: none;
  margin: 0;
  padding: 0;
 }