body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #2e2f42;
  background-color: #fff;
}
.container {
  width: 1158px;
  margin: 0 auto;
}
 
 ul {
  list-style: none;
  margin: 0;
  padding: 0;
 }