#team {
  background-color: #f4f4fd;
}

#team h2 {
  text-align: center;
}

#team h3 {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

#team p {
  letter-spacing: 0.02em;
}

.portfolio {
  text-align: center;
}